<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<style>
    #container{
        background-color: aquamarine;
        margin: auto;
        text-align:center;
    }
</style>


  <div id="container">
        <h1>用户注册</h1>
        <form class="form-horizontal" method="post" action="/register/">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputUsername" class="col-md-2 control-label">用户名</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="inputUsername" placeholder="username" name="username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-md-2 control-label">密码</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" id="inputPassword" placeholder="password" name="password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputConfirm" class="col-md-2 control-label">确认密码</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" id="inputConfirm" placeholder="confirm password" name="repassword">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary col-md-3">注&nbsp;&nbsp;&nbsp;&nbsp;册</button>
                </div>
            </div>
        </form>
      <span>{{ msg }}</span>
  </div>

</body>
</html>